Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
EnvironmentPack1
EnvironmentPack4
InfinityBladeAdversaries
InfinityBladeEffects
InfinityBladeWarriors
InfinityBladeGrassLands
Infinity_Blade_Assets