Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Config/EnvironmentPack1
Config/EnvironmentPack4
Config/InfinityBladeAdversaries
Config/InfinityBladeEffects
Config/InfinityBladeWarriors
Config/InfinityBladeGrassLands
Config/Infinity_Blade_Assets